@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
body{font-family: 'Poppins', sans-serif;}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navigation{padding:30px 150px 30px 0}
.App-logo{width:150px;height:100px;}
section{padding:60px 0;color:#fff;}
.top-right{position: absolute;right:0;top:25px;}
header .container{position: relative;}
.modal-content{max-width:650px;}
.carousel .slide .legend{text-align:left;margin:0;font-size:16px;z-index: 99;background-color:transparent;opacity: 1;bottom:inherit;top:50%;transform:translate(-50%, -50%);color:#5b5b5b;}
.carousel .slide .legend .wrap{width:750px;margin:0 auto;}
.slider-wrapper{position: relative;}
.slider-wrapper .slide:before{position:absolute;content:"";left:0;top:0;right:0;bottom: 0;background:;z-index:99;opacity: 0.7;}
.legend h2{font-size:44px;font-family: 'Poppins', sans-serif;font-weight:500;}
.carousel .control-dots{padding:0;}
.legend p{margin:0;font-size: 22px;}
.legend p small{font-size: 16px;font-weight: 400;}
.legend .info{border-top:1px dashed #939393;margin:20px 0;display: inline-block;}
header{background-color:#4d62d5;}
.navigation a{color:#fff;}
.carousel .control-dots .dot{background: #4d62d5;width: 12px; height: 12px;}
.padding50{padding:50px 0;}
.moreSection-2{background-color:#F5F2FC}
.moreSection{background-color: #4e54c8}
.btn.btn-primary{background-color:#4d62d5; border-radius:50px;border-color:#4d62d5;}